<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fkomuniku.bmicalculator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icnbmi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icnbmi"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity">
        </activity>
        <activity
            android:name=".AboutActivity">
        </activity>
        <activity
            android:name=".HitungActivity">
        </activity>
        <activity
            android:name=".HasilActivity">
        </activity>
    </application>

</manifest>